name: gibsonify_very_good
on: pull_request

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.0.0 # defaults to latest version
      min_coverage: 1 # test coverage in percent
